.timer-button {
    font-weight: bolder;
    padding: 30%;
}

.timer-button-container {
    flex-direction: row;
    gap: 10px;
}

.buttons {
    padding-bottom: 10%;
    display: flex;
}

@media only screen and (max-width: 600px) {
    .buttons {
        padding-bottom: 50%;
    }

    .timer-button-container {
        width: 20%;
        align-items: center;
        display: flex;

    }

    .timer-button {
        padding: 50%;
    }
}
