.workout-card {
    background-color: #767981;
    font-size: 28px;
}

.workout-type {
    background-color: #767981;
    border: #767981;
    color: #f3bb38;
    font-weight: bold;
    cursor: pointer;
    padding: 30px;
}

.workout-type:hover, .workout-type:focus, .workout-type:active {
    color: white;
}

@media only screen and (max-width: 768px)  {
    .col {
        width: 100%;
    }

    .workout-card {
        font-size: 12px;
    }

    .workout-type {
        padding: 0;
    }
}


@media only screen and (max-width: 992px) {
    .col {
        width: 100%;
    }

    .workout-card {
        font-size: 12px;
    }

    .workout-type {
        padding: 0;
    }
}

@media only screen and (max-width: 1400px){
    .col {
        width: 100%;
    }

    .mode-card {
        font-size: 12px;
    }

    .mode-option {
        padding: 0;
    }
}