.wod-mode {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}

.start-button-div {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#start-button {
    font-weight: bold;
}